<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}My Site{% endblock %}</title>
</head>
<body>
    <nav><a href="/">Home</a> | <a href="/about">About Us</a> | <a href="/search">search</a> | <a href="/register">register</a> | <a href="/subjects">subjects</a></nav>
    <hr>
    {% block content %}{% endblock %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p style="background:#fef3c7; padding:8px;">{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}   
</body>
</html>
